<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>UserName</th>

    </tr>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/views/{id}(id=${user.getId()})}" th:object="${user}">
    <button type="submit">Edit</button>
</form>
<form th:method="DELETE" th:action="@{views/{id}(id=${user.getId()})}" th:object="${user}">
    <button type="submit">Delete</button>
</form>
</form:form>
<a href="/">Главная</a>
</body>
</html>